name: Bring a Trailer Past Auctions

on:
    schedule:
        - cron: '*/10 * * * *'
    workflow_dispatch:

jobs:
    fetch_auctions:
        runs-on: ubuntu-latest
        steps:
            - name: checkout repo
              uses: actions/checkout@v5
            
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version-file: ".python-version"

            - name: Install uv
              uses: astral-sh/setup-uv@v6

            - name: Run scraper
              env:
                AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
                AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                AWS_REGION: ${{ secrets.AWS_REGION }}
                S3_BUCKET: ${{ secrets.S3_BUCKET }}
                NTFY_TOPIC: ${{ secrets.NTFY_TOPIC }}

              run: uv run src/auctions.py